@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --color-apple-50: #f1fbea;
  --color-apple-100: #dff5d2;
  --color-apple-200: #c1ecaa;
  --color-apple-300: #9ade78;
  --color-apple-400: #76cd4e;
  --color-apple-500: #4ea028;
  --color-apple-600: #408e22;
  --color-apple-700: #336d16;
  --color-apple-800: #2c571d;
  --color-apple-900: #274a1d;
  --color-apple-950: #112b0b;

  --color-background: #fafafa;
  --color-surface: #ffffff;

  --color-title: var(--color-apple-400);

  --color-primary: #1a1a1a;
  --color-secondary: #4d4d4d;
  --color-light: #f9f9f9;
  --color-inverted: #ffffff;
  --color-accent: var(--color-apple-600);

  --color-border-default: #cfd8dc;
  --color-border-muted: #e0e0e0;
  --color-border-accent: var(--color-apple-300);

  --color-btn-primary-bg: var(--color-apple-500);
  --color-btn-primary: var(--color-inverted);
  --color-btn-primary-hover: var(--color-apple-600);
  --color-btn-primary-active: var(--color-apple-700);
  --color-btn-primary-disabled: var(--color-apple-200);

  --color-btn-secondary-bg: #0c0b0b;
  --color-btn-secondary: #1a1a1a;
  --color-btn-secondary-hover: #e0e0e0;
  --color-btn-secondary-active: #d4d4d4;
  --color-border-btn-secondary: #cccccc;

  --color-state-success: #28a745;
  --color-state-error: #ff4d4f;
  --color-state-warning: #ffc107;
  --color-state-info: #17a2b8;

  --color-balance-positive: var(--color-apple-600);
  --color-balance-negative: #a92d2d;

  --color-surface-header: var(--color-bg-surface);
  --color-surface-card: var(--color-bg-surface);
  --color-surface-modal: var(--color-bg-surface);
  --color-surface-hover: var(--color-apple-100);
  --color-surface-accent: var(--color-apple-300);

  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}

@layer components {
  .btn-primary {
    @apply bg-btn-primary-bg text-btn-primary hover:bg-btn-primary-hover active:bg-btn-primary-active rounded-md px-4 py-2 font-semibold transition-all duration-100 ease-in-out;
  }

  .btn-secondary {
    @apply bg-btn-secondary-bg text-btn-secondary hover:bg-btn-secondary-hover active:bg-btn-secondary-active border-btn-secondary rounded-md border px-4 py-2;
  }

  .btn-success {
    @apply bg-state-success rounded-md px-4 py-2 font-semibold text-white transition-colors hover:bg-green-700 active:bg-green-800;
  }

  .btn-danger {
    @apply bg-state-error rounded-md px-4 py-2 font-semibold text-white transition-colors hover:bg-red-600 active:bg-red-700;
  }

  .btn-outline {
    @apply border-btn-secondary text-btn-secondary hover:bg-btn-secondary-hover active:bg-btn-secondary-active rounded-md border px-4 py-2 transition-colors;
  }

  .btn-disabled {
    @apply bg-btn-primary-disabled text-btn-primary cursor-not-allowed rounded-md px-4 py-2 font-semibold opacity-50 transition-colors;
  }

  .btn-icon {
    @apply bg-btn-primary-bg text-btn-primary border-btn-primary rounded-full border shadow-[4px_4px_12px] shadow-[#00000080] transition-all duration-150 ease-in-out hover:scale-105 active:shadow-inner;
  }
}

@layer utilities {
  input:-webkit-autofill {
    @apply bg-transparent shadow-none;
  }
}

.hero-bg {
  background-image: var(--bg-hero-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
